.h-bg-image {}

.header-bg-image {
  position: absolute;
  width: 100%;
  height: 60%;
  filter: brightness(0.6);
}

@media (max-width: 576px) {
  .header-bg-image {
    height: 50%;
  }
}

.header-dittels {
  position: relative;
}

.text-center{
  position: relative;
  margin-top: 17%;
}